@model Oovent.Mvc.Areas.Admin.Models.Events.CrudEvents
@using Oovent.Mvc.Areas.Admin.Models.Events

@{
    Layout = "~/Areas/Public/Views/Shared/_Layout.cshtml";
}
<html>
    <head>
        <title>Add</title>
        <script type="text/javascript" src="~/Static/Libraries/frontend/frontend-add.js"></script>
        <script type="text/javascript" src="~/Static/Libraries/frontend/moment.js"></script>
        <script type="text/javascript" src="~/Static/Libraries/frontend/combodate.js"></script>
        <link rel="stylesheet" type="text/css" href="~/Static/Styles/add-responsive.css" />
    </head>
    <body>
        <center>
                @using (Html.BeginForm())
                {
                <div class="container">
                    <div class="row type-select twelve columns">
                        <div class="row create-type twelve columns">
                            <div class="create-type-div four columns">
                                <div class="create-type-button twelve columns" id="check-button">
                                    <label>
                                        <input id="create-type-button-event" name="type" type="radio" checked><span>Create Happening</span>
                                    </label>
                                </div>
                            </div>
                            <div class="create-type-div four columns">
                                <div class="create-type-button twelve columns" id="check-button">
                                    <label>
                                        <input id="create-type-button-discount" name="type" type="radio"><span>Create Discount</span>
                                    </label>
                                </div>
                            </div>
                            <div class="create-type-div four columns">
                                <div class="create-type-button twelve columns" id="check-button">
                                    <label>
                                        <input id="create-type-button-foodtruck" name="type" type="radio"><span>Create Foodtruck</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="type-select-compact" class="row display-none twelve columns">
                        <div class="row type-select-compact-div twelve columns">
                            <div class="six columns">
                                <div class="create-type-button twelve columns" id="check-button">
                                    <label>
                                        <input id="create-type-button-event-compact" name="type-compact" type="radio" checked><span>Create Happening</span>
                                    </label>
                                </div>
                            </div>
                            <div class="six columns">
                                <div class="create-type-button twelve columns" id="check-button">
                                    <label>
                                        <input id="create-type-button-discount-compact" name="type-compact" type="radio"><span>Create Discount</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row type-select-compact-div twelve columns">
                            <div class="three columns">
                                <p></p>
                            </div>
                            <div class="six columns">
                                <div class="create-type-button twelve columns" id="check-button">
                                    <label>
                                        <input id="create-type-button-foodtruck-compact" name="type-compact" type="radio"><span>Create Foodtruck</span>
                                    </label>
                                </div>
                            </div>
                            <div class="three columns">
                                <p></p>
                            </div>
                        </div>                       
                    </div>
                    <div id="create-event-form" class="create-event-form">
                        <div class="row create-left six columns">
                            <div class="row create-first-row twelve columns">
                                <div class="create-event-div twelve columns">
                                    <label>*Title</label>
                                    @Html.TextBoxFor(m => m.Title, new { @class = "create-event-input", placeholder = "Title of happening" })
                                </div>
                            </div>
                            <div class="row create-row twelve columns">
                                <div class="create-event-div twelve columns">
                                    <label>*What</label>
                                    @Html.TextBoxFor(m => m.What, new { @class = "create-event-input", placeholder = "What kind of happening" })
                                </div>
                            </div>
                            <div class="row create-row twelve columns">
                                <div class="create-event-div twelve columns">
                                    <label>*What</label>
                                    @Html.TextBoxFor(m => m.Where, new { @class = "create-event-input", placeholder = "Where" })
                                </div>
                            </div>
                            <div class="row create-event-when twelve columns">
                                <div id="create-event-when-onetime" class="row create-event-when-onetime twelve columns">
                                    <div id="div-datetime12" class="twelve columns">
                                        <label class="starting-label">Starting</label>
                                        @Html.TextBoxFor(m => m.StartDate, new { @class = "create-event-input", placeholder = "Start Date" })
                                    </div>
                                    <div id="div-datetime12" class="twelve columns">
                                        <label>Ending</label>
                                        @Html.TextBoxFor(m => m.EndDate, new { @class = "create-event-input", placeholder = "End Date" })
                                    </div>
                                </div>                                
                            <div class="row twelve columns">
                                <div class="create-event-div twelve columns">
                                    <label>Associated Happening</label>
                                    <input class="create-event-input" placeholder="Title of related happening" />
                                </div>
                            </div>
                        </div>
                        <div class="row create-right six columns">
                            <div class="row create-first-row twelve columns">
                                <label>Price</label>
                                <input class="create-event-input" placeholder="Cost of admission" />
                            </div>
                            <div class="create-event-div twelve columns">
                                <label>*Where</label>
                                <input class="create-event-input" placeholder="Where the happening is" />
                            </div>
                            <div class="row twelve columns">
                                <div class="create-event-div twelve columns">
                                    <label>Description</label>
                                    <textarea class="create-event-textarea" placeholder="Describe the happening"></textarea>
                                </div>
                            </div>
                            <div class="row twelve columns">
                                <div class="create-event-div twelve columns">
                                    <label>Phone</label>
                                    <input class="create-event-input" placeholder="Phone number of the orgainizer" />
                                </div>
                            </div>
                            <div class="row twelve columns">
                                <div class="create-event-div twelve columns">
                                    <label>Email</label>
                                    <input class="create-event-input" placeholder="Email of the orgainizer" />
                                </div>
                            </div>
                        </div>
                        <div class="row create-links twelve columns">
                            <label>Related Links</label>
                            <div class="row create-event-link-buttons twelve columns">
                                <div class="create-type-button two columns" id="check-button">
                                    <label>
                                        <input id="create-event-button-website" class="create-event-input" name="event-link" type="radio" checked><span>Website</span>
                                    </label>
                                </div>
                                <div class="create-type-button two columns" id="check-button">
                                    <label>
                                        <input id="create-event-button-twitter" class="create-event-input" name="event-link" type="radio"><span>Twitter</span>
                                    </label>
                                </div>
                                <div class="create-type-button two columns" id="check-button">
                                    <label>
                                        <input id="create-event-button-facebook" class="create-event-input" name="event-link" type="radio"><span>Facebook</span>
                                    </label>
                                </div>
                                <div class="create-type-button two columns" id="check-button">
                                    <label>
                                        <input id="create-event-button-instagram" class="create-event-input" name="event-link" type="radio"><span>Instagram</span>
                                    </label>
                                </div>
                                <div class="create-type-button two columns" id="check-button">
                                    <label>
                                        <input id="create-event-button-pintrest" class="create-event-input" name="event-link" type="radio"><span>Pintrest</span>
                                    </label>
                                </div>
                                <div class="create-type-button two columns" id="check-button">
                                    <label>
                                        <input id="create-event-button-youtube" class="create-event-input" name="event-link" type="radio"><span>Youtube</span>
                                    </label>
                                </div>
                            </div>
                            <div id="create-link-buttons-compact" class="row display-none twelve columns">
                                <div class="row create-links-row twelve columns">
                                    <div class="create-type-button four columns" id="check-button">
                                        <label>
                                            <input id="create-event-button-website" class="create-event-input" name="event-link" type="radio" checked><span>Website</span>
                                        </label>
                                    </div>
                                    <div class="create-type-button four columns" id="check-button">
                                        <label>
                                            <input id="create-event-button-twitter" class="create-event-input" name="event-link" type="radio"><span>Twitter</span>
                                        </label>
                                    </div>
                                    <div class="create-type-button four columns" id="check-button">
                                        <label>
                                            <input id="create-event-button-facebook" class="create-event-input" name="event-link" type="radio"><span>Facebook</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row create-links-row twelve columns">
                                    <div class="create-type-button four columns" id="check-button">
                                        <label>
                                            <input id="create-event-button-instagram" class="create-event-input" name="event-link" type="radio"><span>Instagram</span>
                                        </label>
                                    </div>
                                    <div class="create-type-button four columns" id="check-button">
                                        <label>
                                            <input id="create-event-button-pintrest" class="create-event-input" name="event-link" type="radio"><span>Pintrest</span>
                                        </label>
                                    </div>
                                    <div class="create-type-button four columns" id="check-button">
                                        <label>
                                            <input id="create-event-button-youtube" class="create-event-input" name="event-link" type="radio"><span>Youtube</span>
                                        </label>
                                    </div>
                                </div>                                                          
                            </div>
                            <div id="create-event-input-link-website" class="create-event-link-inputs">
                                <div class="two columns">
                                    <p></p>
                                </div>
                                <div class="eight columns">
                                    <input class="create-event-input-link" placeholder="Link to related website" />
                                </div>
                                <div class="two columns">
                                    <p></p>
                                </div>
                            </div>
                            <div id="create-event-input-link-twitter" class="display-none">
                                <div class="two columns">
                                    <p></p>
                                </div>
                                <div class="eight columns">
                                    <input class="create-event-input-link" placeholder="Link to related twitter page" />
                                </div>
                                <div class="two columns">
                                    <p></p>
                                </div>
                            </div>
                            <div id="create-event-input-link-facebook" class="display-none">
                                <div class="two columns">
                                    <p></p>
                                </div>
                                <div class="eight columns">
                                    <input class="create-event-input-link" placeholder="Link to related facebook page" />
                                </div>
                                <div class="two columns">
                                    <p></p>
                                </div>
                            </div>
                            <div id="create-event-input-link-instagram" class="display-none">
                                <div class="two columns">
                                    <p></p>
                                </div>
                                <div class="eight columns">
                                    <input class="create-event-input-link" placeholder="Link to related instagram page" />
                                </div>
                                <div class="two columns">
                                    <p></p>
                                </div>
                            </div>
                            <div id="create-event-input-link-pintrest" class="display-none">
                                <div class="two columns">
                                    <p></p>
                                </div>
                                <div class="eight columns">
                                    <input class="create-event-input-link" placeholder="Link to related pintrest page" />
                                </div>
                                <div class="two columns">
                                    <p></p>
                                </div>
                            </div>
                            <div id="create-event-input-link-youtube" class="display-none">
                                <div class="two columns">
                                    <p></p>
                                </div>
                                <div class="eight columns">
                                    <input class="create-event-input-link" placeholder="Link to related youtube account/video" />
                                </div>
                                <div class="two columns">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="row create-submit">
                            <div class="four columns">
                                <p></p>
                            </div>
                            <div class="event-submit four columns">
                                <input type="submit" value="Submit Happening" />
                            </div>
                            <div class="four columns">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </center>
    </body>
</html>
