@using Oovent.Models
@model Oovent.Mvc.Areas.Public.Models.VmLogin

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/Static/Styles/skeleton.css" />
        <link rel="stylesheet" type="text/css" href="~/Static/Styles/OoventStyleSheet.css" />
        <script type="text/javascript" src="~/Static/Libraries/frontend/jquery.js"></script>
    </head>
    <body class="body-whole">
        <div class="container">
            <center>
                <div class="row top-bar twelve columns">
                    <div class="dropdown two columns">
                        <button class="dropbtn">Profile</button>
                        <div class="dropdown-content">
                            <a href="/ExampleModels/Profile">My Profile</a>
                            <a href="/ExampleModels/MyEvents">My Events</a>
                            <a href="/ExampleModels/EditProfile">Edit Profile</a>
                        </div>
                    </div>
                    <div class="top-button-login two columns" id="top-button">
                        <a href="login" id="login-button">Login</a>
                    </div>
                    <a href="/ExampleModels/Form">
                        <div class="top-button-check two columns">
                            <button id="top-button">Create</button>
                        </div>
                    </a>
                    <a href="/Index">
                        <div class="top-button-image three columns">
                            <img class="logo" src="http://puu.sh/pDqvZ.png" alt="Home" title="Home" />
                        </div>
                    </a>
                </div>
                <div id="login-modal" class="login-modal">
                    <div class="login-modal-content">
                        <div class="login-modal-header-login">
                            <div class="close-div">
                                <span class="close">X</span>
                            </div>
                            <a href="login">Login</a>
                        </div>
                        <div class="login-modal-body">
                            <div class="login-modal-section">
                                <div class="row login-modal-form twelve columns">
                                    <div class="two columns">
                                        <p></p>
                                    </div>

                                    @using (Html.BeginForm())
                                    {
                                        <div class="login-modal-input-username four columns">
                                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </div>

                                        <div class="login-modal-input-password four columns">
                                            @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                                            @Html.ValidationMessageFor(m => m.Password)
                                        </div>

                                        <div class="two columns">
                                            <div>
                                                <p></p>
                                            </div>
                                        </div>

                                        <div class="row login-modal-form twelve columns">
                                            <div class="three columns">
                                                <p></p>
                                            </div>

                                            <div class="login-modal-submit six columns">
                                                <input id="Submit" type="submit" value="Log In" /><br />
                                                @Html.ValidationSummary(true, "Login Failed", new { style = "color: red; font-size: 14px;" })
                                            </div>

                                            <div class="three columns">
                                                <p></p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="login-modal-header">
                            <h2>Register</h2>
                        </div>
                        <div class="login-modal-body">
                            <div class="login-modal-section">
                                <form>
                                    <div class="row login-modal-form twelve columns">
                                        <div class="two columns">
                                            <p></p>
                                        </div>
                                        <div class="login-modal-input-username four columns">
                                            <label>Username</label>
                                            <input type="text" placeholder="Enter username" />
                                        </div>

                                        <div class="login-modal-input-password four columns">
                                            <label>Password</label>
                                            <input type="text" placeholder="Enter password" />
                                        </div>
                                        <div class="two columns">
                                            <p></p>
                                        </div>
                                    </div>

                                    <div class="row login-modal-form twelve columns">
                                        <div class="three columns">
                                            <p></p>
                                        </div>

                                        <div class="login-modal-submit six columns">
                                            <input type="submit" />
                                        </div>

                                        <div class="three columns">
                                            <p></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>               
                @RenderBody()
            </center>
        </div>
    </body>
</html>
