
@{
    Layout = "~/Areas/Public/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>Index</title>
        <script type="text/javascript" src="~/Static/Libraries/frontend/frontend-index.js"></script>
        <script type="text/javascript" src="~/Static/Libraries/frontend/index-filter.js"></script>
        <link rel="stylesheet" type="text/css" href="~/Static/Styles/index-responsive.css"/>
    </head>
    <body>
        @{
            foreach (Oovent.Models.Ef.EfEvent Event in Oovent.Mvc.Areas.Public.Models.Events.CrudEvents.GetEvents())
            {
                <div id="event-modal-@Event.Id" class="event-modal">
                    <div class="row event-modal-content">
                        <div class="row event-modal-header twelve columns">
                            <div class="event-close-div">
                                <span class="event-close-@Event.Id">X</span>
                            </div>
                            <div class="event-modal-header ten columns">
                                <h2>@Event.Title</h2>
                            </div>
                        </div>
                        <div class="row event-modal-body">
                            <div class="row event-modal-top-body-info">
                                <div class="event-modal-type four columns">
                                    <p></p>
                                </div>
                                <div class="event-modal-category four columns">
                                    <p></p>
                                </div>
                                <div class="event-modal-tags four columns">
                                    <p></p>
                                </div>
                            </div>
                            <div class="row event-modal-top-body">
                                <div class="one column">
                                    <p></p>
                                </div>
                                <div class="event-modal-date five columns">
                                    <div class="event-modal-date-box twelve columns"><p></p></div>
                                    <div class="event-modal-date-box twelve columns"><p>When: @Event.Start - @Event.End</p></div>
                                    <div class="event-modal-date-box twelve columns"><p>What: @Event.EventTypeId</p></div>
                                    <div class="event-modal-date-box twelve columns"><p>Where: ???</p></div>
                                    <div class="event-modal-date-box twelve columns"><p>Price: @Event.Price</p></div>
                                </div>
                                <div class="event-modal-image five columns">
                                    <img class="event-modal-img" src="http://puu.sh/oXZ0l/e779a551db.jpg" />
                                </div>
                                <div class="one column">
                                    <p></p>
                                </div>
                            </div>
                            <div class="row event-modal-modal-middle-body">
                                <div class="event-modal-description twelve columns">
                                    <p>@Event.Description</p>
                                </div>
                            </div>
                            <div class="row event-modal-bottom-body">
                                <div class="one column">
                                    <p></p>
                                </div>
                                <div class="event-modal-links ten columns">
                                    <div class="row profile-links-title twelve columns">
                                        <p class="p-title">Links</p>
                                    </div>
                                    <div class="row profile-links twelve columns">
                                        <div class="profile-link-left four columns">
                                            <a href="http://www.jcpl.net/">
                                                <div class="profile-link-button">
                                                    <button id="p-link-button-left">Website</button>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="profile-link-middle four columns">
                                            <a href="https://www.facebook.com/JohnsonCityPublicLibrary/">
                                                <div class="profile-link-button">
                                                    <button id="p-link-button-middle">Facebook</button>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="profile-link-right four columns">
                                            <a href="https://twitter.com/JCPublicLibrary">
                                                <div class="profile-link-button">
                                                    <button id="p-link-button-right">Twitter</button>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="one column">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        
        <div class="row body">
            <div class="row filter three columns">
                <div class="filter-contents">
                    <p class="filter-type-header-top twelve columns">Type</p>    
                    <div class="row filter-title-type twelve columns">
                                      
                        <div class="twelve columns">
                            <div class="filter-type twelve columns">
                                <label>
                                    <input id="filter-type-checkbox-event" class="filter-type" data-type="happening" name="type" type="radio" checked><span>Events</span>
                                </label>
                            </div>
                        </div>
                        <div class="twelve columns">
                            <div class="filter-type twelve columns">
                                <label>
                                    <input id="filter-type-checkbox-discount" class="filter-type" data-type="discount" name="type" type="radio"><span>Discounts</span>
                                </label>
                            </div>
                        </div>
                        <div class="twelve columns">
                            <div class="filter-type twelve columns">
                                <label>
                                    <input id="filter-type-checkbox-foodtruck" class="filter-type" data-type="foodtruck" name="type" type="radio"><span>Foodtrucks</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="filter-format-event">
                        <p class="filter-type-header twelve columns">Price</p>
                        <div class="row filter-title twelve columns">
                            
                            <div class="twelve columns">
                                <div class="filter-type twelve columns">
                                    <label>
                                        <input name="type" type="checkbox" checked><span>All</span>
                                    </label>
                                </div>
                            </div>
                            <div class="twelve columns">
                                <div class="filter-type twelve columns">
                                    <label>
                                        <input name="type" type="checkbox"><span>Free</span>
                                    </label>
                                </div>
                            </div>
                            <div class="twelve columns">
                                <div class="filter-type twelve columns">
                                    <label>
                                        <input name="type" type="checkbox"><span>Paid</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p class="filter-type-header twelve columns">What</p>
                        <div class="row filter-title twelve columns">
                            
                            <div class="row filter-title-type twelve columns">
                                
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox" checked><span>All</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox"><span>Music</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox"><span>Social</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox"><span>Physical</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox"><span>Educational</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="filter-type-header twelve columns">Tags</p>
                        <div class="row filter-title-tags twelve columns">
                            <div class="filter-tag-div twelve columns">
                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox" checked><span>all</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>bluegrass</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>country</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>rock</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>jazz</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>folk</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>metal</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>orchestra</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>local bands</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>capone's</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>acoustic coffee house</span></label>
                            </div>
                        </div>
                    </div>
                    <div id="filter-format-discount" class="display-none">
                        <p class="filter-type-header twelve columns">What</p>
                        <div class="row filter-title twelve columns">
                            <div class="row filter-title-type twelve columns">                               
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox" checked><span>All</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox"><span>Food</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox"><span>Drink</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox"><span>Entertainment</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox"><span>Local Store</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="filter-type-header twelve columns">Tags</p>
                        <div class="row filter-title-tags twelve columns">                          
                            <div class="one column">
                                <p></p>
                            </div>
                            <div class="filter-tag-div ten columns">
                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox" checked><span>all</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>half-off</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>weekly deal</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>for two</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>music with food</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>bar</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>johnny bruscos</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>pizza</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>mexican</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>reel to real</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>bbq</span></label>
                            </div>
                            <div class="one column">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div id="filter-format-foodtruck" class="display-none">
                        <p class="filter-type-header twelve columns">What</p>
                        <div class="row filter-title twelve columns">                           
                            <div class="row filter-title-type twelve columns">                             
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox" checked><span>All</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox"><span>Carribean Grill</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox"><span>Foodie Fiction</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox"><span>Street Eats</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="twelve columns">
                                    <div class="filter-type twelve columns">
                                        <label>
                                            <input name="type" type="checkbox"><span>Hell Ya!</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="filter-type-header twelve columns">Tags</p>
                        <div class="row filter-title-tags twelve columns">                           
                            <div class="one column">
                                <p></p>
                            </div>
                            <div class="filter-tag-div ten columns">
                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox" checked><span>all</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>grill</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>seasonal</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>sandwiches</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>one spot truck</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>bbq</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>late hours</span></label>

                                <label id="filter-tag" class="filter-tag"><input name="tag" type="checkbox"><span>early hours</span></label>
                            </div>
                            <div class="one column">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row events nine columns">
                <div class="row search-div twelve columns">
                    <div class="three columns">
                        <p></p>
                    </div>

                    <div class="five columns">
                        <form>
                            <input class="search-bar" placeholder="search for events">
                        </form>
                    </div>

                    <div class="search-bar-button one column">
                        <img class="search-bar-icon" src="http://puu.sh/pEHrl.png" />
                    </div>

                    <div class="three columns">
                        <p></p>
                    </div>
                </div>
                <div class="row filter-info twelve columns">
                    <div class="twelve columns">
                        <p>Current Filter: Events, all prices, all categories, all tags.</p>
                    </div>
                </div>
                <div class="row date-filter twelve columns">
                    <div class="date-arrow-left one column">
                        <img src="http://puu.sh/pEIly.png">
                    </div>
                    <div class="date-info three columns">
                        <p id="date-info-text-day" class="date-info-text">August 7th</p>
                        <p id="date-info-text-week" class="date-info-text">August 7th - 13th</p>
                        <p id="date-info-text-month" class="date-info-text">August</p>
                    </div>
                    <div class="date-arrow-right one column">
                        <img src="http://puu.sh/pEIka.png">
                    </div>
                    <div class="date-dropdown two columns">
                        <form>
                            <select id="date-dropdown">
                                <option value="1">Day</option>
                                <option value="2">Week</option>
                                <option value="3">Month</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="event-body twelve columns">
                    <div class="row event-boxes-row twelve columns">
                        @{
                            foreach (Oovent.Models.Ef.EfEvent Event in Oovent.Mvc.Areas.Public.Models.Events.CrudEvents.GetEvents())
                            {
                                <span class="event-modal-btn-@Event.Id event-type-@Event.EventTypeId" id="event-@Event.Id">
                                    <div class="event-box four columns">
                                        <div class="cost five columns">
                                            <div class="type-title">
                                                <img src="http://puu.sh/qoOmc.png" />
                                            </div>
                                        </div>
                                        <div class="image seven columns">
                                            <img src="http://puu.sh/oXZ0l/e779a551db.jpg">
                                        </div>
                                        <div class="title twelve columns">
                                            <p>@Event.Title</p>
                                        </div>
                                        <div class="date twelve columns">
                                            <p>@Event.Start - @Event.End</p>
                                        </div>
                                    </div>
                                </span>
                            }
                        }                        
                    </div>   
                </div>
            </div>
        </div>
    </body>
</html>